.app_homepage {
    h1 {
        margin: 2rem;
    }
}

.app__homepage-title-primary-color {
    color: var(--primary-color)
}

.app__airbnb-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    gap: 1rem;
}

.app__airbnb-card {
    display: flex;
    justify-content: center;
}

.app__airbnb-card-title {
    font-weight: 800;
    font-size: large;
}

.app__airbnb-left {
    img {
        width: 80%;
        border-radius: 2rem;
    }
}

.app__airbnb-right {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 0.8rem;
    font-size: medium;

    @media screen and (max-width: 1000px) {
        gap: 0.5rem;
    }

    span {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }
}