.app_homepage {
    h1 {
        margin: 2rem;
    }
}

.app__homepage-title-primary-color {
    color: var(--primary-color)
}

.app__airbnb-list {
    width: 80%;
}

.app__airbnb-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.app__airbnb-card-title {
    font-weight: 800;
    font-size: large;
}

.app__airbnb-left {
    img {
        width: 300px;
        border-radius: 2rem;

        @media screen and (max-width: 1000px) {
            width: 200px;
        }
    }
}

.app__airbnb-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: medium;

    @media screen and (max-width: 1000px) {
        gap: 2px;
    }

    span {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }
}